@model vAirline.Models.Seat

@{
    ViewBag.Title = "Delete";
}

<div class="container getDown">
    <h3>Are you sure you want to delete this seat?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Flight.FlightCode)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Flight.FlightCode)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Passenger.PassengerFullName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Passenger.PassengerFullName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SeatNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SeatNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SeatLocation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SeatLocation)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SeatAvailable)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SeatAvailable)
            </dd>
        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-warning" })
            </div>
        }
    </div>
</div>