@model IEnumerable<vAirline.Models.Airport>
@{
    ViewBag.Title = "Index";
}

<div class="container getDown">
    <h2>Manage Airports</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AirportName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AirportCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AirportCountry)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AirportName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AirportCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AirportCountry)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.AirportID }, new { @class = "btn btn-primary btn-xs" })
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.AirportID }, new { @class = "btn btn-default btn-xs" })
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.AirportID }, new { @class = "btn btn-danger btn-xs" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>